* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(153, 217, 234);
}

header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
}

#home {
    position: absolute;
    top: 3vh;
    left: 5vw;
    transition: 0.5s;
}

#home:hover {
    transform: scale(0.8);
}

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.celula {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 33.3%;
    height: 33.3%;
    border-left: 8px solid #000;
    border-bottom: 8px solid #000;
}

.celula:nth-child(1),
.celula:nth-child(4),
.celula:nth-child(7) {
    border-left: 0;
}

.celula:nth-child(7),
.celula:nth-child(8),
.celula:nth-child(9) {
    border-bottom: 0;
}

.celula:hover {
    background-color: rgb(150, 200, 200);
}

footer {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#reiniciar {
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    transition: 0.5s;
}

#reiniciar:hover {
    transform: scale(1.2);
}

.pontuacoes {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5vw;
}

h2 {
    font-size: 30px;
}

#jogador {
    color: #4998e0;
}

#computador {
    color: #ba3838;
}

.modalGanhador {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.containerModalGanhador {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap: 30px;
    background-color: rgb(239, 228, 176);
    box-shadow: 0px 0px 20px #000;
}

.containerModalGanhador button {
    background-color: rgb(132, 247, 228);
    border-radius: 20px;
    width: 25vw;
    height: 6vh;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.5s;
}

.containerModalGanhador button:hover {
    transform: scale(1.05);
}

a:link,
a:visited {
    text-decoration: none;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
        margin-top: 20vh;
    }

    h2 {
        font-size: 20px;
    }

    .grade {
        width: 350px;
        height: 400px;
    }

    #home,
    #reiniciar {
        width: 48px;
    }

    .pontuacoes {
        margin-bottom: 20vh;
    }

    .containerModalGanhador {
        width: 70%;
        height: 35%;
        padding: 5px;
        text-align: center;
    }

    .containerModalGanhador button {
        width: 60vw;
        height: 7vh;
    }
}
